/* Stylesheet by Meiliu Wu, 2019 */

.map {
    border: medium solid #999;
}

.bgCountries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1.5px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 0.5px;
}

.gratBackground {
    fill: #D5E3FF;
}
